<div class="header">
    <h3>Login</h3>
</div>

<div *ngIf="!isAuthenticatedUser" class="box">

    <h6 class="form-title center">Login to your account</h6>

    <form class="login-form" [formGroup]="formLogin" (ngSubmit)="onSubmit()">

        <div *ngIf="((isPost && formLogin.invalid) || errorMessage) && !hideMessage" class="alert alert-danger display-hide" style="display: block;">
            <button (click)="onHideMessage()" class="close" data-close="alert"></button>
            <span>{{errorMessage}}</span>
        </div>

        <div [ngClass]="{'has-error':((isPost || username.touched) && username.invalid)}" class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username"
                    name="username" formControlName="username" />
            </div>
            <span *ngIf="(isPost || username.touched) && username.invalid" id="username-error"
                class="help-block">Username is required.</span>
        </div>

        <div [ngClass]="{'has-error':((isPost || password.touched) && password.invalid)}" class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password"
                    name="password" formControlName="password" />
            </div>
            <span *ngIf="(isPost || password.touched) && password.invalid" id="password-error"
                class="help-block">Password is required.</span>
        </div>

        <div class="form-actions content-right">
            <button type="submit" class="btn green-haze">
                Login <i class="m-icon-swapright m-icon-white"></i>
            </button>
        </div>

    </form>

</div>

<div *ngIf="isAuthenticatedUser" class="box">

    <h6 class="form-title center">User Authenticated</h6>

    <div class="form-actions content-right">
        <button type="button" class="btn btn-secondary" (click)="unRegisterUser()">Logoff <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>

</div>