<div class="header">
    <h3>Credentials</h3>
</div>

<div class="box">

    <form class="login-form" [formGroup]="formCredential" (ngSubmit)="onSubmit()">

        <div *ngIf="((isPost && formCredential.invalid) || errorMessage) && !hideMessage" class="alert alert-danger display-hide" style="display: block;">
            <button (click)="onHideMessage()" class="close" data-close="alert"></button>
            <span>{{errorMessage}}</span>
        </div>

        <div *ngIf="firstAccess" [ngClass]="{'has-error':((isPost || username.touched) && username.invalid)}" class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username"
                    name="username" formControlName="username" />
            </div>
            <span *ngIf="(isPost || username.touched) && username.invalid" id="username-error"
                class="help-block">Username is required.</span>
        </div>

        <div [ngClass]="{'has-error':((isPost || password.touched) && password.invalid)}" class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" formControlName="password" />
            </div>
            <span *ngIf="(isPost || password.touched) && password.invalid" id="username-error" class="help-block">Password is required.</span>
        </div>

        <div [ngClass]="{'has-error':((isPost || confirmPassword.touched) && confirmPassword.invalid)}" class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Confirm Password</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Confirm Password" name="confirmpassword" formControlName="confirmPassword" />
            </div>
            <span *ngIf="(isPost || confirmPassword.touched) && confirmPassword.invalid" id="username-error" class="help-block">Confirm password is required.</span>
        </div>

        <div class="form-actions content-right">
            <button type="submit" class="btn green-haze">Submit <i class="m-icon-swapright m-icon-white"></i>
            </button>
        </div>

    </form>

</div>
